/* ========= Google Font ===========*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* ========== Tailwind CSS ============ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== Overall CSS ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ====== Custom CSS ===== */
.kit-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px 5px 5px rgba(0, 0, 0, 0.1),
        5px -5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1);
}
